<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		
    <beans:bean id="service" class="org.madsonic.booter.deployer.MadsonicDeployer"/>

    <beans:bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <beans:property name="serviceName" value="MadsonicDeployerService"/>
        <beans:property name="service" ref="service"/>
        <beans:property name="serviceInterface" value="org.madsonic.booter.deployer.MadsonicDeployerService"/>
        <beans:property name="registryPort" value="9412"/>
    </beans:bean>
    
</beans:beans>