<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		
   <beans:bean id="deployer" class="org.madsonic.booter.deployer.MadsonicDeployer"/>

    <beans:bean id="frame" class="org.madsonic.booter.mac.MadsonicFrame">
        <beans:constructor-arg ref="deployer"/>
    </beans:bean>

    <beans:bean id="controller" class="org.madsonic.booter.mac.MadsonicController">
        <beans:constructor-arg ref="deployer"/>
        <beans:constructor-arg ref="frame"/>
    </beans:bean>

</beans:beans>