<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans:bean id="service" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <beans:property name="serviceUrl" value="rmi://localhost:9412/MadsonicDeployerService"/>
        <beans:property name="serviceInterface" value="org.madsonic.booter.deployer.MadsonicDeployerService"/>
        <beans:property name="lookupStubOnStartup" value="false"/>
        <beans:property name="refreshStubOnConnectFailure" value="true"/>
    </beans:bean>

    <beans:bean id="agent" class="org.madsonic.booter.agent.MadsonicAgent">
        <beans:constructor-arg ref="service"/>
        <beans:property name="frame" ref="frame"/>
    </beans:bean>

    <beans:bean id="frame" class="org.madsonic.booter.agent.MadsonicFrame">
        <beans:constructor-arg ref="agent"/>
        <beans:constructor-arg ref="statusPanel"/>
        <beans:constructor-arg ref="settingsPanel"/>
    </beans:bean>

    <beans:bean id="settingsPanel" class="org.madsonic.booter.agent.SettingsPanel">
        <beans:constructor-arg ref="agent"/>
    </beans:bean>

    <beans:bean id="statusPanel" class="org.madsonic.booter.agent.StatusPanel">
        <beans:constructor-arg ref="agent"/>
    </beans:bean>

</beans:beans>